@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

 @font-face {
  font-family: 'Nunito';
  src: url('../vendor/font/Nunito-Regular.ttf');
  src: url('../vendor/font/Nunito-Regular.ttf') format('ttf'),
    url('../vendor/font/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../vendor/font/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-Medium";
  src: url("../vendor/font/poppins/Poppins-Medium.ttf"); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../vendor/font/poppins/Poppins-SemiBold.ttf"); }

html {
  position: relative;
  min-height: 100%;
  font-family: 'Nunito';
}

body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
 
}






       
 

 

.bg-gradient-primary {
  background-color: #6777EF;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #6777EF), to(#303f9f));
  background-image: linear-gradient(180deg, #6777EF 10%, #303f9f 100%);
  background-size: cover;
}

.bg-gradient-secondary {
  background-color: #757575;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #757575), to(#60616f));
  background-image: linear-gradient(180deg, #757575 10%, #60616f 100%);
  background-size: cover;
}

.bg-gradient-success {
  background-color: #66bb6a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #66bb6a), to(#13855c));
  background-image: linear-gradient(180deg, #66bb6a 10%, #13855c 100%);
  background-size: cover;
}

.bg-gradient-info {
  background-color: #3abaf4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #3abaf4), to(#258391));
  background-image: linear-gradient(180deg, #3abaf4 10%, #258391 100%);
  background-size: cover;
}

.bg-gradient-warning {
  background-color: #ffa426;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffa426), to(#dda20a));
  background-image: linear-gradient(180deg, #f6c23e 10%, #ffa426 100%);
  background-size: cover;
}

.bg-gradient-danger {
  background-color: #fc544b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fc544b), to(#be2617));
  background-image: linear-gradient(180deg, #fc544b 10%, #be2617 100%);
  background-size: cover;
}

.bg-gradient-light {
  background-color: #e3eaef;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #e3eaef), to(#c2cbe5));
  background-image: linear-gradient(180deg, #e3eaef 10%, #c2cbe5 100%);
  background-size: cover;
}

.bg-gradient-dark {
  background-color: #212121;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #212121), to(#373840));
  background-image: linear-gradient(180deg, #212121 10%, #373840 100%);
  background-size: cover;
}

.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.bg-gradient-login {
  background-color: #f8f9fc;
  background-size: cover;
}

.bg-gray-100 {
  background-color: #f8f9fc !important;
}

.bg-gray-200 {
  background-color: #eaecf4 !important;
}

.bg-gray-300 {
  background-color: #dddfeb !important;
}

.bg-gray-400 {
  background-color: #d1d3e2 !important;
}

.bg-gray-500 {
  background-color: #b7b9cc !important;
}

.bg-gray-600 {
  background-color: #858796 !important;
}

.bg-gray-700 {
  background-color: #6e707e !important;
}

.bg-gray-800 {
  background-color: #5a5c69 !important;
}

.bg-gray-900 {
  background-color: #3a3b45 !important;
}

.o-hidden {
  overflow: hidden !important;
}

.text-xs {
  font-size: .7rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-gray-100 {
  color: #f8f9fc !important;
}

.text-gray-200 {
  color: #eaecf4 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.text-gray-400 {
  color: #d1d3e2 !important;
}

.text-gray-500 {
  color: #b7b9cc !important;
}

.text-gray-600 {
  color: #858796 !important;
}

.text-gray-700 {
  color: #6e707e !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.text-gray-900 {
  color: #3a3b45 !important;
}



.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.border-left-primary {
  border-left: 0.25rem solid #337ab7 !important;
}

.border-bottom-primary {
  border-bottom: 0.25rem solid #337ab7 !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #757575 !important;
}

.border-bottom-secondary {
  border-bottom: 0.25rem solid #757575 !important;
}

.border-left-success {
  border-left: 0.25rem solid #66bb6a !important;
}

.border-bottom-success {
  border-bottom: 0.25rem solid #66bb6a !important;
}

.border-left-info {
  border-left: 0.25rem solid #4dd0e1 !important;
}

.border-bottom-info {
  border-bottom: 0.25rem solid #4dd0e1 !important;
}

.border-left-warning {
  border-left: 0.25rem solid #ffeb3b !important;
}

.border-bottom-warning {
  border-bottom: 0.25rem solid #ffeb3b !important;
}

.border-left-danger {
  border-left: 0.25rem solid #ef5350 !important;
}

.border-bottom-danger {
  border-bottom: 0.25rem solid #ef5350 !important;
}

.border-left-light {
  border-left: 0.25rem solid #f8f9fc !important;
}

.border-bottom-light {
  border-bottom: 0.25rem solid #f8f9fc !important;
}

.border-left-dark {
  border-left: 0.25rem solid #5a5c69 !important;
}

.border-bottom-dark {
  border-bottom: 0.25rem solid #5a5c69 !important;
}

.progress-sm {
  height: .5rem;
}

.rotate-15 {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.rotate-n-15 {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}









.btn-icon-split {
  padding: 0;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-icon-split .icon {
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 0.375rem 0.75rem;
}

.btn-icon-split .text {
  display: inline-block;
  padding: 0.375rem 0.75rem;
}

.btn-icon-split.btn-sm .icon,
.btn-group-sm>.btn-icon-split.btn .icon {
  padding: 0.25rem 0.5rem;
}

.btn-icon-split.btn-sm .text,
.btn-group-sm>.btn-icon-split.btn .text {
  padding: 0.25rem 0.5rem;
}

.btn-icon-split.btn-lg .icon,
.btn-group-lg>.btn-icon-split.btn .icon {
  padding: 0.5rem 1rem;
}

.btn-icon-split.btn-lg .text,
.btn-group-lg>.btn-icon-split.btn .text {
  padding: 0.5rem 1rem;
}






.bg-blue {
  background-color: #e8eaf6 !important;
}



.btn-outline-light {
  color: #373840;
}

.card {
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.input-group-append .btn {
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}

.input-group-append .btn:hover {
  -webkit-box-shadow: 0 0.125rem 0.3rem 0 rgba(58, 59, 69, 0.4) !important;
  box-shadow: 0 0.125rem 0.3rem 0 rgba(58, 59, 69, 0.4) !important;
}

.form-control:focus {
  border: 1px solid #6777ef;
}


.form-control{
	font-size: 0.8125rem;/*  13px;*/
}




.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}



.modal-title{
  font-size: 12px;			
}



/* All  main Card header / and popUp Header Styles */

#cardHeaderStyle-22{
 padding: 0.35rem 0.35rem;
 color: #fff;
 font-size: 0.875rem !important;
 font-weight: bold;
 background: #5675C2;
}
/* All  sub Card header Style */ 
#cardHeaderStyle{
 padding: 0.35rem 0.35rem;
 font-size: 0.75rem !important;
 font-weight: 600;
 border: 1px solid #e6e6e6;
}
/*All Page Button Styles  */
.btn-bs3-prime {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px 5px;
    font-size: 12px/* 10px */
}

.btn-bs3-prime:hover{
	color:#000000;
	background: #fff;
}

.btn-bs3-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 5px 5px;
    font-size: 0.625rem;/* 10px */
}

.btn-bs3-danger:hover{
	color:#000000;
	background: #fff;
	
}


.btn-bs3-page {
    color: #fff;
    background-color: #1d655cf7 ;
    border-color: #1d655cf7;
    padding: 5px 5px;
    font-size: 0.625rem;/* 10px */
   /*  background: linear-gradient(110deg, #1d655cf7 60%, #243665 60%); */
}

.btn-bs3-page :hover{
	color:#000000;
}




 /* hr horizondal lines inside text area styles applicable for all pages  */
 
.txtarea-hrlines {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}

 .border-right{
 border-right: 1px solid grey;
 }
 
 .italic{
 font-style: italic;
 }
 
 .bold{
 font-weight: 600;
 }
 
.text-primaryy{
 color: #2a4fb6;/*  Aviva color text*/
 }



/* 
#sign-QR_style img{
	  width:70%; 
	  border: 2px solid grey; 
	  border-radius: 5px;
	  box-sizing: border-box;
	-webkit-transition: all 1s ease; Safari and Chrome
  	-moz-transition: all 1s ease; Firefox
  	-o-transition: all 1s ease; IE 9
  	-ms-transition: all 1s ease; Opera
  	transition: all 1s ease;
}

#sign-QR_style:hover img{
   
     width:100%; 
     border: none;
     webkit-transform:scale(1.25); Safari and Chrome
     -moz-transform:scale(1.25); Firefox
    -ms-transform:scale(1.25); IE 9
    -o-transform:scale(1.25); Opera
     transform:scale(1.25);
	
} */

/* all form group margin-bottom height defalut :1 rem size changed to 0.5 rem by poovathi. */
.form-group {
    margin-bottom: 0.5rem;
}

/* kyc pg1.html text color */
.text-custom-color-gp{
color:#243665;
/* font-weight:500; */
}



  #lblTxtSz-02{
font-size: 80%;
}  


  label{
   margin-bottom:0em;
   }
   
   
   #iconStyle-01{
   color: #4caf50;
   }
   
 #iconStyle-02{
  /* 
   color: #ff9800 ; */
   color: #656767;
   }
  
  
#listgroupbg-01 a{
background: #f5f5f5;
} 

/*kycpage4 html styles  */ 

#btndiv button{
    display: inline-block;
    margin: 0 0.21875rem 0 0.21875rem;
  }




 .hide{
     display: none;
	}
	
.ltrspace-01{
	letter-spacing: 1px;
}	


.error{
  border-color: red;
}

.border-blue{
  border-color: #3f51b5;
}

/* kycpage10.html styles */	
#card-btomspceStyle{
margin-bottom: 15px;
}



.right{
 float: right;	
}

#SignCard label{
 display: inline-block;
 text-align: right;
 float: right !important;
}

#SignCard label .left{
float: left;	
text-align: left;
}	
 
 .left{
    float: left;
 }
 
#lblTxtSz-03{
	font-size: 110%;
}

  
.fz-95{
    font-size: 95%;	
}

.divStyle-01{
	border: 1px solid #eee;
	padding: 1rem;
	border-radius: 5px;
	background:	#f5f5f5;
}


/*All Page font variation Levels  */
.font-sz-level1{
	font-size: 1.25rem;/* 20px */
}

.font-sz-level2{
	font-size: 1.125rem;/* 18px */
}

.font-sz-level3{
	font-size: 1rem;/*16px  */
}


.font-sz-level4{
	font-size: 0.875rem;/*14px  */
}


.font-sz-level5{
	font-size: 0.8125rem;/*13px  */
}

.font-sz-level6{
	font-size: 0.75rem;/*12px  */
}

.font-sz-level7{
	font-size: 0.6875rem;/*11px  */
}

.font-sz-level8{
	font-size: 0.625rem;/*10px  */
}

.font-sz-level9{
	font-size: 0.59375rem;/*9.5px  */
}

.white{
 color: #fff;	
}

.grey-bg{
	background: #e2e8e8;
    border: 1px solid #e2e8e8;
    color: #000;
}
.grey-bg:hover,focus{
    background-color: #d2d6d6;
    border:1px solid #d2d6d6;
}
.amber{
	color: #000;
	border: #f7d315;
    background-color: #f7d315; /* #e0bd04; */
}
 .frm-lable-fntsz{
   font-size: 0.6875rem;/* all Form label size 11px */
   /* color: #6c757d; */
   color: #243665;
   padding: .25em .4em;
   font-weight: 700	
	
}

.txt-urline{
   text-decoration :underline;	
}

#lblTxtSz-01{
	font-size: 0.6875rem;
}

 .pg1Contentstyle{
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px 5px;
    border-radius: 5px;
    line-height: 25px;
 }  
 
 .ln-hei{
   line-height: 24px;
 }
 
 .lh-20{
 line-height: 20px;
 }
 
 .bg-hlght{
   background: #f5f5f5;
 }
 
 .sgnCardStyle{
     border-top: 5px solid #ffc107;
     border-radius: 5px;
     background: linear-gradient(#B7F8DB,#50A7C2);
 }

 .btnpadfntsz{
    padding: 5px 5px;
    font-size: 0.625rem;
 }
 

 
  

.manulife-bg{
	background-color: #126740;
	padding: 2px;
	color: #FFF;
}

.ntuc-bg{
	background-color: #F58221;
	padding: 2px;
	color: #FFF;
}
.aia-bg{
	background-color: #D00F44;
	padding: 2px;
	color: #FFF;
}
.aviva-bg{
	background-color: #2A4FB6;
	color: #FFF;
	padding: 2px;
}



 .aviva{
	background-color: #2A4FB6;
}

.ntuc{
	background-color: #F58221;
}

.aia{
    background-color: #D00F44;	
	}
.manulife{
	background-color: #126740;
}
.basic{
	background-color: #28a745;
}

.rider{
	background-color: #f7d315;
}  
   .dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}   
.center{
	text-align: center;
}
.green-txt{
	color: #28a745
}
.amber-txt{
	color: #ffc107
}
.err-fld{
	border: 1px solid red !important;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
}

.delBtnclr{
	color: #ff00007d;
	font-size: larger;
}

.invalid-feedbacks {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.mn-life-bor-btm{
	    border-bottom: 2px solid #126740;
}

.aviva-bor-btm{
	    border-bottom: 2px solid #2a4fb6;
}

.aia-bor-btm{
	    border-bottom: 2px solid #d11045;
}

.ntuc-bor-btm{
	    border-bottom: 2px solid #f58221;
}
.prod-hglt{
    background: #e6ebf7;
    border-radius: 3px;
    border-left: 3px solid #782eff;
}
.bsc-pln-bg{
	/* background: #e2eae77a; */
	background: rgba(0, 0, 0, 0.05);
}
.prd-btm-border{
	/* border-bottom: 2px solid #782eff; */
	border-bottom: 2px solid #126740;
}
.prod-img{
	
	/* margin: 10% 0%;
      width: 80%;
    height: 50%; */
    
   /*  width: 100%;
    height: 60%; */
}
.prod-hglt-ntuc{
	background: #f6e4d7;
    border-left: 3px solid #f58c38;
    border-right: 3px solid #f58c38;
    border-radius: 20px;
}

.prod-hglt-aviva{ 
   background: #f3ecc0;
   border-left: 3px solid #2a4fb6;
    border-right: 3px solid #2a4fb6;
   border-radius: 20px;
 }
 
 .prod-hglt-aia{
	background: #f5dbe4;
    border-left: 3px solid #d54473;
    border-right: 3px solid #d54473;
    border-radius: 20px;
} 


 .prod-hglt-dedault{
	background: #e0e7ec;
    border-left: 3px solid #6c757d;
    border-right: 3px solid #6c757d;
    border-radius: 20px;
} 
 
 .prod-hglt-mnulfe{
	background: #dbf3e8;
    border-left: 3px solid #126740;
    border-right: 3px solid #126740;
    border-radius: 20px;
}


.Pdng-Style{
	padding: 0.1875rem 1.25rem;
}

 
 

.noData{
  padding: 5px;
    color: #243665;
    background: #cef7dd;
    font-size: 13px;
    border-radius: 8px;
    letter-spacing: 1px;
    border: 1px solid #82d3f7;
    font-weight: 500;
}

.noteInfo{
	padding: 2px;
    background: #e7f5f5;
    border: 1px solid teal;
    text-align: center;
}

.btnshake{
  position: relative;
  animation-name: shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

.pervNxtBtnstyle{
	background: #f9c008;
    border-radius: 15px;
    padding: 4px;
}

.ltrspc02{
letter-spacing: 2px
}


 
 #prodTypeBasicSec{
    border: 1px dotted #528E0A;
    background: #28a745;
/*     padding: 5px;*/
     color:#ffff;   
   border-radius: 10px;
 }  
  
  #prodTypeRiderSec{
    border: 1px dotted #E4B60C;
    background: #E8CD33;
   /*  padding: 5px; */
    border-radius: 10px;
  } 
   
/*Add Prod Recomm Primary modal Draggable css Styles  */

 #AddProdRecommDetlsMdl {
  position: relative;
}
/*  #AddProdRecommDetlsMdl .modal-dialog*/
  #AddProdRecommdldlg {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.mdl-fade-eff{
	background: grey;
	z-index: 1049;
}

/* .modal-lg-sz {
    max-width: 50%;
} */

.font-normal{
  font-weight: normal;
  }	
  
  @keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
  
  .noteInfoMsg{
    border: 1px solid #8bd5e6;
    padding: 5px;
    margin: 15px;
    border-left: 3px solid #01bbf3;
    background: #e7f5f5;
  }
  
  .warningTitleMsg{
    border: 1px solid #8bd5e6;
    padding: 2px;
    margin: 5px;
    border-left: 3px solid #01bbf3;
   /*  background: #dc3545!important;
    color:white; */
  }
  
   .iFemale{
    font-size: larger;
    color: deeppink;
  }
  
  .imale{
    font-size: larger;
    color: blue;
  }
  
  .srvAdvstyle{
    border: 1px solid #8bd5e6;
    background: #e7f5f5;
    color: #1464a7;
}

.disabledMngrSec{
    pointer-events: none;
    opacity: 0.4;
}

 #loadingMessage {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #ccc;
    top: 0px;
    left: 0px;
    position: absolute;
}




/*All Page Button Styles  */
.btn-bs3-prime {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px 5px;
    font-size: 0.625rem;/* 10px */
}

.btn-bs3-prime:hover{
	color:#000000;
	background: #fff;
}

.btn-bs3-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 5px 5px;
    font-size: 0.625rem;/* 10px */
}

.btn-bs3-danger:hover{
	color:#000000;
	background: #fff;
	
}


.sub-active {
  border-bottom: 2px solid #009A78 !important;
  border-radius: 0px 0px 0px 0px !important;
  color: #009A78 !important;
}
.navbar-sub {
  padding-bottom: 0px !important;
  font-weight: 400 !important;
}
.sub > .nav-item {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.sub > .nav-item > .nav-link {
  color: #333E48 !important;
}
.navbar-brand {
  font-weight: 700 !important;
}
.block {
  border: 1px solid #D6DBDF !important;
  border-radius: 0px 0px 0px 0px !important;
}
.center {
  border-left: 1px solid #D6DBDF !important;
  border-right: 1px solid #D6DBDF !important;
}
.nav-tabs, .tab-content {
  background: #FFF !important;
  border: 1px solid #ddd;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #dee2e6 #dee2e6 #fff !important;
  border: 0px solid !important;
  border-bottom: 2px solid #009A78 !important;
  color: #009A78 !important;
  font-weight: 700;
  font-style: italic;
}

.nav-tabs .nav-link {
  border: 0px solid transparent !important;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  color: #333E48 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-weight: 400;
  font-style: normal;
}

.stats {
  padding: 30px !important;
}
.percent-down {
  font-size: 15px !important;
  color: red !important;
}
.percent-up {
  font-size: 15px !important;
  color: green !important;
}
.cur {
  font-size: 15px !important;
  padding-bottom: 20px !important;
  vertical-align: text-top !important;
}
.sub-price {
  font-size: 13px !important;
  text-transform: uppercase !important;
  color: #333E48 !important;
}
.price {
  color:#606f7b !important;
}
.progress {
  margin-top:8px !important;
}
.cht {
  border-bottom: 1px solid #D6DBDF !important;
}
.bg-eth {
  background-color: #627dea !important;
}
.bg-zcash {
  background-color: #f4b728 !important;
}

.bg-danger {
  background-color: #d9534f !important;
}
.ftr .nav-link {
  font-size: 13px !important;
  color: #333E48 !important;
}
.activity {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}



/*app css*/

 .kyc-navbar{
        margin-top: 75px;
    }
    
    .btn-circle  { 
           
            border-radius: 50px; 
            
        } 
        
        .notification {
  /* color: white; */
  text-decoration: none;
  padding: 14px 0px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.notification .badge {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #4caf50;
    color: white;
}

/* 
.nav-tabs .nav-link.active {
    font-weight:bold;
    background-color: transparent;
    border-bottom:3px solid #dd0000;
    border-right: none;
    border-left: none;
    border-top: none;
} */

/*body spinner*/

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:block;
    
    
}



@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

/*body spinner*/



.no-drop {cursor: no-drop !important; pointer-events: none;}

.no-border{border:none !important}

.bottom-border {border-bottom:1px solid #e9ecef !important}

.no-bgcolor{background:transparent !important}




/*end of app css*/





td.highlight {
    background-color: whitesmoke !important;
}

.txt_colr{color: rgb(22, 34, 82);font-weight: bold;}
.btn-circle{width: 50%;}  

.fa-question-circle{
  color: #0275d8;
}
.fa-check-circle{
  color: #FFF;
}
.fa-times-circle{
  color: #d9534f;
}

.fa-question-circle-o{
  color: rgb(22, 34, 82);;
}
.fa-check-circle-o{
  color: #009A78;
}
.fa-times-circle-o{
  color: #d9534f;
}
/*end of app css*/ /* warning color code:  #f0ad4e */

/* D3 pie chart css */



@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

section {
  margin-top: 30px;
}

.pieID {
  display: inline-block;
  vertical-align: top;
}

.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin:0px 50px 50px 25px;
}

.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
}

.legend li {
  width: 135px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}

.legend em {
  font-style: normal;
}

.legend span {
  float: right;
}

  /*D3 pie chart css End */
  
  
  
  
  .cursor-pointer{
  cursor: pointer;
}
.text-ekyc{
	color:#009A78 !important;
}

.btn-ekyc {
    color: #fff;
    background-color: #009A78;
    border-color: rgb(22, 34, 82);;
}


.btn-ekyc:hover {
    color: #fff;
    background-color: rgb(22, 34, 82);;
    border-color: #009A78;
}

.bg-ekyc {
    color: #fff;
    background-color: #009A78;
    border-color: rgb(22, 34, 82);;
}

.bg-ekyc-secondary {
    color: #fff;
    background-color: rgb(22, 34, 82);
    border-color: #009A78;
}	

.dataTable tbody tr
{
cursor: pointer; 
}

.page-item.active .page-link{
	 background-color: #009A78 !important
}
.highlight{
	background-color: #333E48 !important;
	color:#fff !important;
}

#tooltip {
  position: absolute;
  z-index: 1001;
  display: none;
  border: 2px solid #333E48;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(22, 34, 82);
  color : #fff ;
}

#tooltip hr  {
  border: 1px solid #fff;
  border-radius: 10px;
}

/* old kyc approval sec--> style.css end */

/* text area resize not allowed property */
 textarea {
  resize: none;
}




.not-allow-cursor{
	cursor:not-allowed !important;
	pointer-events:none;
}

#sign-QR_style{
	
    /* width: 100%;
    height: 100%; */  
    /*  border: 2px solid grey;
    background: #FFF;
    opacity: 1 ;
    z-index: -1;
    border-radius: 5px;
    box-sizing: border-box; */ 
	
}



#sign-QR_style img{
	  width:70%; 
	  border: 2px solid grey; 
	  border-radius: 5px;
	  box-sizing: border-box;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

#sign-QR_style:hover img{
   /*  height: 100%; */
   /*  width: 100%; */
       width:100%; 
       border: none;
     webkit-transform:scale(1.25); /* Safari and Chrome */
     -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
	
}

.font75p{
	font-size: 75%;
}


 .disabledsec{
    pointer-events: none;
    opacity: 0.4;
}



.btn-bs3-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 5px 5px;
    font-size: 0.625rem;/* 10px */
}

.btn-bs3-success:hover{
	color:#000000;
	background: #fff;
	
}




.btn-bs3-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    padding: 5px 5px;
    font-size: 0.625rem;/* 10px */
}

.btn-bs3-warning:hover{
	color:#000000;
	background: #fff;
	
}

