

 body{
     font-family: 'Poppins', sans-serif; 
 } 
 
.middle {
  width: 100%;
  text-align: center;
}

form :invalid {
    background: red;
}

.errorclz{
border:1px solid red;
}
/*Loader*/


.circle-loader {
  margin-bottom: 3.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}

.checkmark.draw:after
 {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 3.5em;
  width: 1.75em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}

/*Loader*/

/*button circle*/
.btn-circle { 
         
            border-radius: 50%;            
            text-align: center; 
        } 
		
		


#stpBtnFontSz{
   font-size: 12px;
}

#inpGrpTxtPading-01{
    padding: .25rem .55rem;	
    /* font-size: 95%; */ 
    font-size: 13px;
    font-weight: 400;	 
}

#navbar-bg01{
background: linear-gradient(110deg, #1d655cf7 60%, #454a4e52 60%);
}


#custTypeRadioBtn input[type="radio"] {
  display: none;
}

#custTypeRadioBtn input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}


#custTypeRadioBtn label {
 
  
    height: 100%;
    display: block;
   
     border: 1px solid #999999;
    border-radius: 32px;
  
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
    padding: 0px 0px;
    font-size: 12px;
}

#custTypeRadioBtn input[type="radio"]:checked + label {
   border: 2px solid #20df80;  
}

#custTypeRadioBtn input[type="radio"]:checked + label::after {
    color: #4daf51;
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 15px;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25); 
}

