.card-align{
	margin-top: 5%;
    
}
.header-color{
	
	color: #6b92d9;
    font-weight: bold;
    font-size: 20px;
    /* background-color: #8c8cf4; */
}
button{
	background-color: #50a8f4;
    color: #ffffff;
}