
#Sec2ContentFormId .inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
#Sec2ContentFormId .inputGroup label {
  /* padding: 12px 30px; */
  padding: 2px 5px;
  width: 100%;
  display: block;
  text-align: left;
  /* color: #3C454C; */
  color: #243665;/* text-custom-color-gp class text-color */
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  overflow: hidden;
  /* poovathi add on 30-06-2020 */
    /* border: 1px solid #0fc384; */
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}
#Sec2ContentFormId .inputGroup label:before {
  /* width: 10px; */
   width:100px;
  height: 10px;
  border-radius: 50%;
  content: '';
  /* background-color: #243665; */
      background-color: #454a4e52;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
#Sec2ContentFormId .inputGroup label:after {
  width: 32px; 
 /* width:100px; */
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E "); */
  background-repeat: no-repeat; 
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  /*poovathi add on 30-06-2020 */
    margin-right: -28px;
}
#Sec2ContentFormId .inputGroup input:checked ~ label {
 /*  color: #fff; */
     color: #484747;
  
}
#Sec2ContentFormId .inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
#Sec2ContentFormId .inputGroup input:checked ~ label:after {
  background-color: #0fc384;
  border-color: #0fc384;
}
#Sec2ContentFormId .inputGroup input {
  width: 32px;
  height: 32px;
  -webkit-box-ordinal-group: 2;
          order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

#Sec2ContentFormId {
  padding: 0 16px;
 /*  max-width: 550px; */
  /* margin: 50px auto; */
  /* font-size: 18px;
  font-weight: 600; */
  line-height: 30px;
}
 
 
 /* step 2 content new style end here */