


.middle {
  width: 100%;
  text-align: center;
  /* Made by */
}
.middle h1 {
  
  color: #fff;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .box {
  background-color: #6777ef;
}
.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(70px);
}
.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  width: 300px;
  height: 250px;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;  
  font-weight: 900;
  padding:20px;
  margin:25px;
  /* border: 5px solid #8BD8BD ; */
  border: 2px solid #2F3F47;
  border-radius:25px;
	  
	/* border-top-color: #8bd8bd;
    border-left-color: #8bd8bd;
    border-right-color: #243665;
    border-bottom-color: #243665; */
	/*   border:#8BD8BD,#243665,#243665,#8BD8BD; */
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  position: absolute;
  transform: translate(0, 20px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 200%;
  user-select: none;
  /* color: #6777ef; */
  
  color: #009979;
}
.middle .box span:before {
  font-size: 1.2em;
  
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}

.middle .front-end span:before {
  content: '\2713';
}
.middle .back-end span:before {
  content: '\2713';
}

.middle p {
  color: #fff;
  
  font-weight: 400;
}
.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}
.middle p span:after {
  content: '\f0e7';
  font-family: FontAwesome;
  color: yellow;
}