a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel,
#accordion_right .panel{
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}
#accordion .panel-heading,
#accordion_right .panel-heading{
    padding: 0;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
}
#accordion .panel-title a,
#accordion_right .panel-title a{
    display: block;
    padding: 12px 15px;
    background: #fff;
    font-size: 0.875rem;/* 14px */
    font-weight: bold;
    /* color: #0fc384; */
    color: #044CB3;
    border: 1px solid #ececec;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    position: relative;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed,
#accordion_right .panel-title a.collapsed{
    box-shadow: none;
    color: #676767;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before,
#accordion_right .panel-title a:before,
#accordion_right .panel-title a.collapsed:before{
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
   /*  line-height: 28px; */
    font-size: 0.875rem; /*14px  */
    font-weight: 900;
    /* color: #0fc384; */
    color: #044CB3;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before,
#accordion_right .panel-title a.collapsed:before{
    color: #676767;
    transform: rotate(0);
}
#accordion .panel-title a:after,
#accordion_right .panel-title a:after{
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}
#accordion .panel-body,
#accordion_right .panel-body{
    padding: 10px 15px 15px;
    border: none;
/*     font-size: 0.8rem;*/    
      /*  color: #615f5f; */
   /*  line-height: 28px; */
	border: 1px solid #ececec;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
}


.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 5px 0;
}

.accordion-option .title {
  font-size: 120%;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  /* font-size: 100%; */
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}

